<p id="notice">
 <%= notice %>
</p>

<p>
<stlong>Title:</stlong>
<%= @book.title %>
</p>

<p>
<stlong>Body:</stlong>
<%= @book.body %>
</p>


<%= link_to "Edit",edit_book_path %>
|
<%= link_to "Back",books_path %>